body {
  font-family: "Avenir Next";
  color:#404146;
  text-align: center;
}

li {
  list-style: none;
}

.header {
  background-color: #404146;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 10px;
  padding: 25px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
}

.header-list a {
  text-decoration: none;
  color:#fff;
}

.copy-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.copy-container h1 {
  font-size: 140px;
  margin-bottom: 0px;
  letter-spacing: 10px;
}

.copy-container h2 {
  font-size: 60px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copy-container span {
  color: #f2d00d;
}

.copy-container img {
  height:300px;
}

.container {
  margin-top: -35px;
  position: relative;
  display: flex;
  justify-content: center;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background: #e07768;
}

.container .card:nth-child(2) .icon {
  background: #6eadd4;
}

.container .card:nth-child(3) .icon {
  background: #4aada9;
}


.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container a {
  text-decoration: none;
  color: #414141;
}

.about { 
  font-size: 28px;
  height: 260px;
  background-color: rgb(244, 244, 244);
  padding-top: 80px;
  padding-bottom: 80px;
}

/*.about h3 {
  padding-top: 80px;
  padding-bottom: 20px;
}*/

.about p {
  padding: 0px 150px;
  font-size: 20px;
}

.contents {
  height: 405px;
  padding-top: 80px;
  padding-bottom: 80px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  background-size:cover;
  background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbW1pbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
}

.contents:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(7px);
  margin: -20px;
}


.contents h3 {
  color: #fff;
  font-size: 28px;
  padding-bottom: 20px;
}

.contents-item {
  float: left;
  width: 33.3%;
}

.row {
  text-align: center;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline-block;
  width: 30%;
}

.column p {
  color: #fff;
  font-size: 24px;
  margin-top: 30px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 75%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

img {
  margin-bottom: -7px;
}

#caption {
  margin: auto;
  text-align: center;
  color: #ccc;
  padding: 20px 0;
  font-size: 25px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form {
  height: 500px;
  padding-top: 80px;
}

.contact-title {
  color: #404146;
  font-size: 28px;
  padding-bottom: 15px;
  overflow: hidden;
  text-align: center;
}

.contact-title:before,
.contact-title:after {
  background-color: #404146;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 35%;
}

.contact-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.contact-title:after {
  left: 0.5em;
  margin-right: -50%;
}

.footer {
  background-color: #7C7D83;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 10px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  text-decoration: none;
  color:#fff;
}

